user-config.py
secretPasswords
wikidata_batches/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pywikibot files
apicache/
logs/
*.ctrl
*.lwp

# various
*.log
*.backup
.tox/
.coverage

